.container {
  width: 100%;
  min-height: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.content {
  text-align: left;
  margin-bottom: 1rem;
}

.image {
  display: block;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
